
  
  <div class="col-sm-3" style="padding:5px; border:1px solid black;margin:15px">
  	  <%= f.text_field :title %>
      <%= f.file_field :document %>
      <%= f.text_area :note, cols: "30", rows: "5" %>
  </div>