<%= bootstrap_form_for(@member) do |f| %>
		<%= f.fields_for :payments do |builder| %>
			<%= render "payment_fields", :f => builder if builder.object.new_record? %>
		<% end %>
    <div class="actions"><%= f.submit "Pay Now", :class =>"btn btn-primary btn-lg btn-block" %></div>

<% end %>
